:root {
  --bg: #282a36;
  --bg-s2: #22212c;
  --bg-input: #40455a;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --green: #50fa7b;
  --primary-text: #f8f8f2;
  --gray-text: #8a8fa8;
  --blue: #383a59;
  --orange: #ffb86c;
  --yellow: #ffff80;
  --border: #4c5067;
  --cyan: #80ffea;
  --pl-holder: #a9aec3;
}

.theme--dracula {
  user-select: none;
  -webkit-user-drag: none;
  background-color: var(--bg) !important;
  .btn {
    &.btn-action {
      color: #000 !important;
      i {
        color: inherit !important;
      }
      background: linear-gradient(
        135deg,
        var(--purple) 0,
        var(--cyan) 100%
      ) !important;
    }
    &:hover {
      box-shadow: 4px 4px rgba(255, 255, 255, 0.1) !important;
      opacity: 0.75 !important;
    }
  }
  i {
    color: var(--primary-text) !important;
  }
  h3[lang] {
    color: var(--green) !important;
  }
  *[lang="db-chitiet-button"] {
    color: var(--orange) !important;
  }
  div.desc {
    & > div.number {
      color: var(--primary-text) !important;
    }
  }
  select {
    cursor: pointer;
    background-color: var(--bg-input) !important;
    border-radius: 4px !important;
    border-color: var(--pink) !important;
    color: var(--pink) !important;
    option {
      background-color: var(--bg-input) !important;
      color: var(--primary-text) !important;
      &[selected="selected"] {
        background-color: var(--pink) !important;
        color: var(--bg-input) !important;
      }
    }
  }
  rect {
    fill: transparent !important;
  }
  text.highcharts-axis-title {
    fill: var(--green) !important;
  }
  text[text-anchor="start"] {
    fill: var(--orange) !important;
  }
  g.highcharts-axis-labels {
    text[text-anchor="middle"] {
      fill: var(--primary-text) !important;
    }
  }
  p {
    color: var(--primary-text) !important;
  }
  body {
    background: var(--bg) !important;
  }
  span[lang] {
    color: var(--green);
  }
  span.bold {
    color: var(--primary-text);
  }
  .caption-subject.bold {
    color: var(--pink) !important;
  }
  .box-df {
    transition: all 200ms ease-in-out !important;
    border-radius: 10px !important;
    background: linear-gradient(145deg, #2b2d3a, #242631) !important;
    box-shadow: 5px 5px 2px #21222c, -5px -5px 2px #2f3240 !important;
    background-color: var(--bg) !important;
    &:hover {
      background: linear-gradient(145deg, #242631, #2b2d3a) !important;
    }
  }
  .portlet-title {
    border-color: var(--boder) !important;
  }
  .profile-userpic {
    & > img {
      box-shadow: 0 0 0 4px #1d1e26, 0 0 0 6px var(--purple) !important;
    }
    & > .text-center {
      padding-top: 10px;
      a {
        color: var(--purple) !important;
      }
    }
  }
  input[type="text"] {
    caret-color: var(--pink);
    border: unset !important;
    background-color: var(--bg-input) !important;
    color: var(--primary-text) !important;
    &::placeholder {
      color: var(--pl-holder) !important;
    }
    &::selection {
      color: var(--pink);
    }
  }
  i.fa.fa-search {
    color: var(--pink) !important;
  }
  color: #ff5555 !important;
  .header {
    background-color: var(--bg) !important;
    a {
      color: var(--primary-text) !important;
    }
  }
  .main-content {
    background-color: var(--bg) !important;
  }
  .panel {
    padding: 10px;
    background-color: transparent !important;
    & > div,
    tr {
      background-color: transparent !important;
    }
    .color-active {
      color: var(--green) !important;
    }
    div.name {
      color: var(--primary-text) !important;
    }
    .panel-heading {
      span {
        color: var(--pink) !important;
      }
    }
    td[width="20%"] {
      div.text-center {
        color: var(--purple) !important;
      }
    }
  }
  table {
    border-color: var(--gray-text) !important;
    thead {
      border-color: var(--gray-text) !important;
    }
    th {
      background-color: var(--bg-s2) !important;
      border-color: var(--gray-text) !important;
    }
    td {
      b {
        color: var(--gray-text) !important;
        a {
          display: block;
          margin-left: -5px;
          margin-right: -5px;
          margin-top: -5px;
          padding: 10px 10px !important;
          background-color: var(--bg-s2) !important;
          color: #8a8fa8 !important;
        }
      }
      border-color: var(--gray-text) !important;
      &[lang="lichtheotuan-buoisang"],
      &[lang="lichtheotuan-buoichieu"],
      &[lang="lichtheotuan-buoitoi"] {
        background-color: var(--bg-s2) !important;
      }
      & > div[type="calendar-exam"] {
        background: linear-gradient(
          135deg,
          var(--pink) 0,
          var(--purple) 100%
        ) !important;
      }
      & > div[type="calendar-goschool"] {
        background: linear-gradient(
          135deg,
          var(--green) 0,
          var(--purple) 100%
        ) !important;
        p[lang],
        span[lang] {
          color: var(--yellow) !important;
        }
      }
      & > div {
        border: unset !important;
      }
    }
    th {
      border-color: var(--gray-text) !important;
      color: var(--purple) !important;
    }
  }
  .user-account-info.dropdown-menu {
    border-radius: 4px !important;
    background-color: var(--purple) !important;
    color: var(--primary-text) !important;
    .us-links {
      & > li {
        &:hover {
          background-color: var(--bg) !important;
        }
      }
      & > li:not(:last-child) {
        border-bottom: 1px solid var(--primary-text) !important;
        transition: all 200ms ease !important;
      }
      & > li:first-child {
        border-top-left-radius: 4px !important;
        border-top-right-radius: 4px !important;
      }
      & > li:last-child {
        border-bottom-left-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
        border-bottom: unset;
      }
    }
    &::after {
      position: absolute;
      top: -7px;
      left: 10px;
      right: auto;
      display: inline-block !important;
      border-right: 7px solid transparent;
      border-bottom: 7px solid var(--purple);
      border-left: 7px solid transparent;
      content: "";
    }
  }
}
