:root {
  --bg: #282a36;
  --bg-input: #1d1e26;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --green: #50fa7b;
  --primary-text: #f8f8f2;
  --blue: #383a59;
  --orange: #ffb86c;
  --boder: #4c5067;
}

.theme--dracula {
  user-select: none;
  -webkit-user-drag: none;
  i {
    color: var(--primary-text) !important;
  }
  h3[lang] {
    color: var(--green) !important;
  }
  *[lang="db-chitiet-button"] {
    color: var(--orange) !important;
  }
  div.desc {
    & > div.number {
      color: var(--primary-text) !important;
    }
  }
  select {
    cursor: pointer;
    background-color: var(--bg-input) !important;
    border-radius: 4px !important;
    border-color: var(--pink) !important;
    color: var(--pink) !important;
    option {
      background-color: var(--bg-input) !important;
      color: var(--primary-text) !important;
      &[selected="selected"] {
        background-color: var(--pink) !important;
        color: var(--bg-input) !important;
      }
    }
  }
  rect {
    fill: transparent !important;
  }
  text.highcharts-axis-title {
    fill: var(--green) !important;
  }
  text[text-anchor="start"] {
    fill: var(--orange) !important;
  }
  g.highcharts-axis-labels {
    text[text-anchor="middle"] {
      fill: var(--primary-text) !important;
    }
  }
  p {
    color: var(--primary-text) !important;
  }
  body {
    background: var(--bg) !important;
  }
  span[lang] {
    color: var(--green);
  }
  span.bold {
    color: var(--primary-text);
  }
  .caption-subject.bold {
    color: var(--pink) !important;
  }
  .box-df {
    transition: all 200ms ease-in-out !important;
    border-radius: 10px !important;
    background: linear-gradient(145deg, #2b2d3a, #242631) !important;
    box-shadow: 5px 5px 2px #21222c, -5px -5px 2px #2f3240 !important;
    background-color: var(--bg) !important;
    &:hover {
      background: linear-gradient(145deg, #242631, #2b2d3a) !important;
    }
  }
  .portlet-title {
    border-color: var(--boder) !important;
  }
  background-color: var(--bg) !important;
  input[type="text"] {
    border: 1px solid var(--pink) !important;
    background-color: var(--bg-input) !important;
    color: var(--pink) !important;
    &::placeholder {
      color: var(--pink) !important;
    }
  }
  i.fa.fa-search {
    color: var(--pink) !important;
  }
  color: #ff5555 !important;
  .header {
    background-color: var(--bg) !important;
    a {
      color: var(--primary-text) !important;
    }
  }
  .main-content {
    background-color: var(--bg) !important;
  }
  .panel {
    padding: 10px;
    background-color: transparent !important;
    & > div,
    tr {
      background-color: transparent !important;
    }
    .color-active {
      color: var(--green) !important;
    }
    div.name {
      color: var(--primary-text) !important;
    }
    .panel-heading {
      span {
        color: var(--pink) !important;
      }
    }
    td[width="20%"] {
      div.text-center {
        color: var(--purple) !important;
      }
    }
  }
  .user-account-info.dropdown-menu {
    border-radius: 4px !important;
    background-color: var(--purple) !important;
    color: var(--primary-text) !important;
    .us-links {
      & > li {
        &:hover {
          background-color: var(--bg) !important;
        }
      }
      & > li:not(:last-child) {
        border-bottom: 1px solid var(--primary-text) !important;
        transition: all 200ms ease !important;
      }
      & > li:first-child {
        border-top-left-radius: 4px !important;
        border-top-right-radius: 4px !important;
      }
      & > li:last-child {
        border-bottom-left-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
        border-bottom: unset;
      }
    }
    &::after {
      position: absolute;
      top: -7px;
      left: 10px;
      right: auto;
      display: inline-block !important;
      border-right: 7px solid transparent;
      border-bottom: 7px solid var(--purple);
      border-left: 7px solid transparent;
      content: "";
    }
  }
}
