@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --bg: #282a36;
  --bg-s2: #22212c;
  --bg-input: #40455a;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --green: #50fa7b;
  --primary-text: #f8f8f2;
  --gray-text: #8a8fa8;
  --blue: #383a59;
  --orange: #ffb86c;
  --yellow: #ffff80;
  --border: #4c5067;
  --cyan: #80ffea;
  --pl-holder: #a9aec3;
  --white: #fff;
}

.theme--dracula {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  background-color: var(--bg) !important;
  color: #ff5555 !important;
}

.theme--dracula * {
  font-family: "Pacifico", cursive;
}

.theme--dracula *::-webkit-scrollbar {
  width: 10px;
}

.theme--dracula *::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.theme--dracula *::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 2px solid transparent;
  background-clip: content-box;
  background-color: var(--purple);
}

.theme--dracula #xemDiem_aaa {
  border: none !important;
  display: block !important;
  margin: 0 !important;
  padding: 10px !important;
}

.theme--dracula #xemDiem_aaa th {
  color: var(--purple);
  border: none !important;
}

.theme--dracula #xemDiem_aaa > * {
  background-color: transparent !important;
}

.theme--dracula #xemDiem_aaa td[level="very-good"],
.theme--dracula #xemDiem_aaa span[level="very-good"] {
  color: var(--green) !important;
}

.theme--dracula #xemDiem_aaa td[level="very-good"] + [title="XepLoai"],
.theme--dracula #xemDiem_aaa span[level="very-good"] + [title="XepLoai"] {
  color: var(--green) !important;
}

.theme--dracula #xemDiem_aaa td[level="good"],
.theme--dracula #xemDiem_aaa span[level="good"] {
  color: var(--cyan) !important;
}

.theme--dracula #xemDiem_aaa td[level="good"] + [title="XepLoai"],
.theme--dracula #xemDiem_aaa span[level="good"] + [title="XepLoai"] {
  color: var(--cyan) !important;
}

.theme--dracula #xemDiem_aaa td[level="very-pretty"],
.theme--dracula #xemDiem_aaa span[level="very-pretty"] {
  color: var(--purple) !important;
}

.theme--dracula #xemDiem_aaa td[level="very-pretty"] + [title="XepLoai"],
.theme--dracula #xemDiem_aaa span[level="very-pretty"] + [title="XepLoai"] {
  color: var(--purple) !important;
}

.theme--dracula #xemDiem_aaa td[level="pretty"],
.theme--dracula #xemDiem_aaa span[level="pretty"] {
  color: var(--cyan) !important;
}

.theme--dracula #xemDiem_aaa td[level="pretty"] + [title="XepLoai"],
.theme--dracula #xemDiem_aaa span[level="pretty"] + [title="XepLoai"] {
  color: var(--cyan) !important;
}

.theme--dracula #xemDiem_aaa td[level="normal"],
.theme--dracula #xemDiem_aaa span[level="normal"] {
  color: var(--yellow) !important;
}

.theme--dracula #xemDiem_aaa td[level="normal"] + [title="XepLoai"],
.theme--dracula #xemDiem_aaa span[level="normal"] + [title="XepLoai"] {
  color: var(--yellow) !important;
}

.theme--dracula #xemDiem_aaa td[level="weak"],
.theme--dracula #xemDiem_aaa span[level="weak"] {
  color: var(--orange) !important;
}

.theme--dracula #xemDiem_aaa td[level="weak"] + [title="XepLoai"],
.theme--dracula #xemDiem_aaa span[level="weak"] + [title="XepLoai"] {
  color: var(--orange) !important;
}

.theme--dracula #xemDiem_aaa td {
  border: none !important;
}

.theme--dracula #xemDiem_aaa td[colspan="27"] {
  background-color: transparent !important;
}

.theme--dracula #xemDiem_aaa td[colspan="2"] {
  color: var(--white) !important;
}

.theme--dracula #xemDiem_aaa td[colspan="2"] > span:nth-child(2):not([level]) {
  color: var(--purple) !important;
}

.theme--dracula #xemDiem_aaa td[title="DiemChuyenCan1"], .theme--dracula #xemDiem_aaa td[title="DiemChuyenCanE"], .theme--dracula #xemDiem_aaa td[title="DiemHeSo11"], .theme--dracula #xemDiem_aaa td[title="DiemHeSo12"], .theme--dracula #xemDiem_aaa td[title="DiemHeSo13"], .theme--dracula #xemDiem_aaa td[title="DiemHeSo14"], .theme--dracula #xemDiem_aaa td[title="DiemThuongKy6"], .theme--dracula #xemDiem_aaa td[title="DiemThuongKy7"], .theme--dracula #xemDiem_aaa td[title="DiemThuongKy8"], .theme--dracula #xemDiem_aaa td[title="DiemThuongKy9"], .theme--dracula #xemDiem_aaa td[title="DiemThucHanh1"], .theme--dracula #xemDiem_aaa td[title="DiemThucHanh2"], .theme--dracula #xemDiem_aaa td[title="DiemThucHanh3"], .theme--dracula #xemDiem_aaa td[title="DiemThucHanh4"], .theme--dracula #xemDiem_aaa td[title="DiemThucHanh5"], .theme--dracula #xemDiem_aaa td[title="DiemTBQuaTrinh"], .theme--dracula #xemDiem_aaa td[title="DiemThi"], .theme--dracula #xemDiem_aaa td[title="DiemChuyenCanE"] {
  color: var(--white) !important;
}

.theme--dracula #xemDiem_aaa td[title="DiemChuyenCan1"].cl-red, .theme--dracula #xemDiem_aaa td[title="DiemChuyenCanE"].cl-red, .theme--dracula #xemDiem_aaa td[title="DiemHeSo11"].cl-red, .theme--dracula #xemDiem_aaa td[title="DiemHeSo12"].cl-red, .theme--dracula #xemDiem_aaa td[title="DiemHeSo13"].cl-red, .theme--dracula #xemDiem_aaa td[title="DiemHeSo14"].cl-red, .theme--dracula #xemDiem_aaa td[title="DiemThuongKy6"].cl-red, .theme--dracula #xemDiem_aaa td[title="DiemThuongKy7"].cl-red, .theme--dracula #xemDiem_aaa td[title="DiemThuongKy8"].cl-red, .theme--dracula #xemDiem_aaa td[title="DiemThuongKy9"].cl-red, .theme--dracula #xemDiem_aaa td[title="DiemThucHanh1"].cl-red, .theme--dracula #xemDiem_aaa td[title="DiemThucHanh2"].cl-red, .theme--dracula #xemDiem_aaa td[title="DiemThucHanh3"].cl-red, .theme--dracula #xemDiem_aaa td[title="DiemThucHanh4"].cl-red, .theme--dracula #xemDiem_aaa td[title="DiemThucHanh5"].cl-red, .theme--dracula #xemDiem_aaa td[title="DiemTBQuaTrinh"].cl-red, .theme--dracula #xemDiem_aaa td[title="DiemThi"].cl-red, .theme--dracula #xemDiem_aaa td[title="DiemChuyenCanE"].cl-red {
  color: var(--red) !important;
}

.theme--dracula #xemDiem_aaa td[title="DiemTongKet"], .theme--dracula #xemDiem_aaa td[title="DiemTinChi"] {
  color: var(--purple) !important;
}

.theme--dracula #xemDiem_aaa td[title="DiemChu"][level="very-weak"] {
  color: var(--red) !important;
}

.theme--dracula #xemDiem_aaa td[title="DiemChu"][level="very-weak"] + [title="XepLoai"] {
  color: var(--red) !important;
}

.theme--dracula #xemDiem_aaa tbody tr {
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  border-top: 16px solid transparent !important;
  border-radius: 8px;
}

.theme--dracula #xemDiem_aaa tbody tr:hover {
  -webkit-box-shadow: 10px 10px 20px #232530, -10px -10px 20px #2d2f3c;
          box-shadow: 10px 10px 20px #232530, -10px -10px 20px #2d2f3c;
}

.theme--dracula #xemDiem_aaa tbody tr td:nth-child(2) > div {
  color: var(--orange) !important;
}

.theme--dracula #xemDiem_aaa tbody tr td.text-left div {
  color: var(--green) !important;
}

.theme--dracula #contnet .col-md-2.hidden-xs > a {
  display: none !important;
}

.theme--dracula #contnet .col-md-2.hidden-xs .box-df {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

.theme--dracula #config-tool-cog {
  border-radius: 4px !important;
  background-color: var(--bg-s2) !important;
  -webkit-box-shadow: #21222c 5px 5px 2px, #2f3240 -5px -5px 2px !important;
          box-shadow: #21222c 5px 5px 2px, #2f3240 -5px -5px 2px !important;
}

.theme--dracula #config-tool-options .box-df {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

.theme--dracula #config-tool-options .changeColor {
  display: none !important;
}

.theme--dracula .accordion-menu a {
  background-color: var(--bg-s2) !important;
  border-bottom-color: var(--gray-text) !important;
}

.theme--dracula .accordion-menu a i {
  color: var(--purple) !important;
}

.theme--dracula .accordion-menu ul li:first-child > a {
  color: var(--pink) !important;
  font-weight: 600;
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
}

.theme--dracula .accordion-menu ul li:nth-child(5) > a {
  border-bottom-left-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
  border-bottom: unset;
}

.theme--dracula .accordion-menu ul li ul.submenu > li:hover a {
  border-left-color: var(--purple) !important;
}

.theme--dracula .mt-radio span {
  background-color: var(--purple) !important;
}

.theme--dracula .mt-radio span::after {
  background-color: var(--white) !important;
}

.theme--dracula .k-widget.k-datepicker.k-header {
  border-radius: 6px !important;
  overflow: hidden;
}

.theme--dracula .k-widget.k-datepicker.k-header span {
  border: unset !important;
}

.theme--dracula #viewLichTheoTuan .tamngung span {
  background: -webkit-gradient(linear, right top, left top, from(var(--red)), to(#3a2e42)) !important;
  background: linear-gradient(to left, var(--red), #3a2e42) !important;
}

.theme--dracula #viewLichTheoTuan .tamngung span::before {
  border-left-color: var(--red);
}

.theme--dracula #viewLichTheoTuan .tamngung span::after {
  border-right-color: var(--red);
}

.theme--dracula #viewLichTheoTuan .tableGC ul li span {
  border-radius: 2px !important;
  border: unset !important;
}

.theme--dracula #viewLichTheoTuan .tableGC ul li:nth-child(1) span {
  background: -webkit-gradient(linear, right top, left top, from(#38ef7d), to(#11998e)) !important;
  background: linear-gradient(to left, #38ef7d, #11998e) !important;
}

.theme--dracula #viewLichTheoTuan .tableGC ul li:nth-child(2) span {
  background: linear-gradient(135deg, var(--pink) 0, var(--purple) 100%) !important;
}

.theme--dracula #viewLichTheoTuan .tableGC ul li:nth-child(3) span {
  background: linear-gradient(135deg, var(--pink) 0, var(--red) 100%) !important;
}

.theme--dracula #viewLichTheoTuan .tableGC ul li:nth-child(4) span {
  background: -webkit-gradient(linear, right top, left top, from(var(--red)), to(#3a2e42)) !important;
  background: linear-gradient(to left, var(--red), #3a2e42) !important;
}

.theme--dracula .btn.btn-action {
  color: #000 !important;
  background: linear-gradient(135deg, var(--purple) 0, var(--cyan) 100%) !important;
}

.theme--dracula .btn.btn-action i {
  color: inherit !important;
}

.theme--dracula .btn:hover {
  -webkit-box-shadow: 4px 4px rgba(255, 255, 255, 0.1) !important;
          box-shadow: 4px 4px rgba(255, 255, 255, 0.1) !important;
  opacity: 0.75 !important;
}

.theme--dracula i {
  color: var(--primary-text) !important;
}

.theme--dracula h3[lang] {
  color: var(--green) !important;
}

.theme--dracula *[lang="db-chitiet-button"] {
  color: var(--orange) !important;
}

.theme--dracula div.desc > div.number {
  color: var(--primary-text) !important;
}

.theme--dracula select {
  cursor: pointer;
  background-color: var(--bg-input) !important;
  border-radius: 4px !important;
  border-color: var(--pink) !important;
  color: var(--pink) !important;
}

.theme--dracula select option {
  background-color: var(--bg-input) !important;
  color: var(--primary-text) !important;
}

.theme--dracula select option[selected="selected"] {
  background-color: var(--pink) !important;
  color: var(--bg-input) !important;
}

.theme--dracula rect {
  fill: transparent !important;
}

.theme--dracula text.highcharts-axis-title {
  fill: var(--green) !important;
}

.theme--dracula text[text-anchor="start"] {
  fill: var(--orange) !important;
}

.theme--dracula g.highcharts-axis-labels text[text-anchor="middle"] {
  fill: var(--primary-text) !important;
}

.theme--dracula p {
  color: var(--primary-text) !important;
}

.theme--dracula body {
  background: var(--bg) !important;
}

.theme--dracula span[lang] {
  color: var(--green);
}

.theme--dracula span.bold {
  color: var(--primary-text);
}

.theme--dracula .caption-subject.bold {
  color: var(--pink) !important;
}

.theme--dracula .box-df {
  -webkit-transition: all 200ms ease-in-out !important;
  transition: all 200ms ease-in-out !important;
  border-radius: 10px !important;
  background: linear-gradient(145deg, #2b2d3a, #242631) !important;
  -webkit-box-shadow: 5px 5px 2px #21222c, -5px -5px 2px #2f3240 !important;
          box-shadow: 5px 5px 2px #21222c, -5px -5px 2px #2f3240 !important;
  background-color: var(--bg) !important;
}

.theme--dracula .portlet-title {
  border-color: var(--boder) !important;
}

.theme--dracula .profile-userpic > img {
  -webkit-box-shadow: 0 0 0 4px #1d1e26, 0 0 0 6px var(--purple) !important;
          box-shadow: 0 0 0 4px #1d1e26, 0 0 0 6px var(--purple) !important;
}

.theme--dracula .profile-userpic > .text-center {
  padding-top: 10px;
}

.theme--dracula .profile-userpic > .text-center a {
  color: var(--purple) !important;
}

.theme--dracula input[type="text"] {
  caret-color: var(--pink);
  border: unset !important;
  background-color: var(--bg-input) !important;
  color: var(--primary-text) !important;
}

.theme--dracula input[type="text"]::-webkit-input-placeholder {
  color: var(--pl-holder) !important;
}

.theme--dracula input[type="text"]:-ms-input-placeholder {
  color: var(--pl-holder) !important;
}

.theme--dracula input[type="text"]::-ms-input-placeholder {
  color: var(--pl-holder) !important;
}

.theme--dracula input[type="text"]::placeholder {
  color: var(--pl-holder) !important;
}

.theme--dracula input[type="text"]::-moz-selection {
  color: var(--pink);
}

.theme--dracula input[type="text"]::selection {
  color: var(--pink);
}

.theme--dracula i.fa.fa-search {
  color: var(--pink) !important;
}

.theme--dracula .header {
  background-color: var(--bg) !important;
}

.theme--dracula .header a {
  color: var(--primary-text) !important;
}

.theme--dracula .main-content {
  background-color: var(--bg) !important;
}

.theme--dracula .panel {
  padding: 10px;
  background-color: transparent !important;
}

.theme--dracula .panel > div,
.theme--dracula .panel tr {
  background-color: transparent !important;
}

.theme--dracula .panel .color-active {
  color: var(--green) !important;
}

.theme--dracula .panel div.name {
  color: var(--primary-text) !important;
}

.theme--dracula .panel .panel-heading span {
  color: var(--pink) !important;
}

.theme--dracula .panel td[width="20%"] div.text-center {
  color: var(--purple) !important;
}

.theme--dracula #viewLichTheoTuan table {
  border-color: var(--gray-text) !important;
}

.theme--dracula #viewLichTheoTuan table thead {
  border-color: var(--gray-text) !important;
}

.theme--dracula #viewLichTheoTuan table th {
  background-color: var(--bg-s2) !important;
  border-color: var(--gray-text) !important;
}

.theme--dracula #viewLichTheoTuan table td {
  border-color: var(--gray-text) !important;
}

.theme--dracula #viewLichTheoTuan table td b {
  color: var(--gray-text) !important;
}

.theme--dracula #viewLichTheoTuan table td b a {
  display: block;
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -5px;
  padding: 10px 10px !important;
  background-color: var(--bg-s2) !important;
  color: #8a8fa8 !important;
}

.theme--dracula #viewLichTheoTuan table td[lang="lichtheotuan-buoisang"], .theme--dracula #viewLichTheoTuan table td[lang="lichtheotuan-buoichieu"], .theme--dracula #viewLichTheoTuan table td[lang="lichtheotuan-buoitoi"] {
  background-color: var(--bg-s2) !important;
}

.theme--dracula #viewLichTheoTuan table td > div[type="calendar-exam"] {
  background: linear-gradient(135deg, var(--pink) 0, var(--red) 100%) !important;
}

.theme--dracula #viewLichTheoTuan table td > div[type="calendar-goschool"] {
  background: -webkit-gradient(linear, right top, left top, from(#38ef7d), to(#11998e)) !important;
  background: linear-gradient(to left, #38ef7d, #11998e) !important;
}

.theme--dracula #viewLichTheoTuan table td > div[type="calendar-goschool"] p[lang],
.theme--dracula #viewLichTheoTuan table td > div[type="calendar-goschool"] span[lang] {
  color: var(--yellow) !important;
}

.theme--dracula #viewLichTheoTuan table td > div[type="calendar-studyonline"] {
  background: linear-gradient(135deg, var(--pink) 0, var(--purple) 100%) !important;
}

.theme--dracula #viewLichTheoTuan table td > div[type="calendar-studyonline"] p[lang],
.theme--dracula #viewLichTheoTuan table td > div[type="calendar-studyonline"] span[lang] {
  color: var(--yellow) !important;
}

.theme--dracula #viewLichTheoTuan table td > div {
  border: unset !important;
}

.theme--dracula #viewLichTheoTuan table th {
  border-color: var(--gray-text) !important;
  color: var(--purple) !important;
}

.theme--dracula .user-account-info.dropdown-menu {
  border-radius: 4px !important;
  background-color: var(--purple) !important;
  color: var(--primary-text) !important;
}

.theme--dracula .user-account-info.dropdown-menu .us-links > li:hover {
  background-color: var(--bg) !important;
}

.theme--dracula .user-account-info.dropdown-menu .us-links > li:not(:last-child) {
  border-bottom: 1px solid var(--primary-text) !important;
  -webkit-transition: all 200ms ease !important;
  transition: all 200ms ease !important;
}

.theme--dracula .user-account-info.dropdown-menu .us-links > li:first-child {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.theme--dracula .user-account-info.dropdown-menu .us-links > li:last-child {
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-bottom: unset;
}

.theme--dracula .user-account-info.dropdown-menu::after {
  position: absolute;
  top: -7px;
  left: 10px;
  right: auto;
  display: inline-block !important;
  border-right: 7px solid transparent;
  border-bottom: 7px solid var(--purple);
  border-left: 7px solid transparent;
  content: "";
}
/*# sourceMappingURL=theme.css.map */