:root {
  --bg: #282a36;
  --bg-s2: #22212c;
  --bg-input: #40455a;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --green: #50fa7b;
  --primary-text: #f8f8f2;
  --gray-text: #8a8fa8;
  --blue: #383a59;
  --orange: #ffb86c;
  --yellow: #ffff80;
  --border: #4c5067;
  --cyan: #80ffea;
  --pl-holder: #a9aec3;
  --white: #fff;
  --color-background: rgb(237, 241, 245);
  --color-foreground: rgb(250, 250, 250);
  --color-foreground-grey: rgb(245, 246, 246);
  --color-foreground-grey-dark: rgb(234, 236, 237);
  --color-foreground-blue: rgb(246, 248, 251);
  --color-foreground-blue-dark: rgb(241, 243, 247);
  --color-background-blue-dark: rgb(31, 35, 45);
  --color-overlay: rgb(31, 38, 49);
  --color-shadow: rgb(49, 54, 68);
  --color-shadow-dark: rgb(6, 13, 34);
  --color-shadow-blue: rgb(103, 132, 187);
  --color-text: rgb(92, 114, 138);
  --color-text-light: rgb(122, 133, 143);
  --color-text-lighter: rgb(146, 153, 161);
  --color-text-bright: rgb(237, 241, 245);
  --color-blue: rgb(61, 180, 242);
  --color-blue-dim: rgb(141, 178, 219);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-red: rgb(232, 93, 117);
  --color-peach: rgb(250, 122, 122);
  --color-orange: rgb(247, 154, 99);
  --color-yellow: rgb(247, 191, 99);
  --color-green: rgb(123, 213, 85);
  --color-background-100: rgb(251, 251, 251);
  --color-background-200: rgb(237, 241, 245);
  --color-background-300: rgb(221, 230, 238);
  --color-background-400: rgb(201, 215, 227);
  --color-background-500: rgb(173, 192, 210);
  --color-background-600: rgb(139, 160, 178);
  --color-background-700: rgb(116, 136, 153);
  --color-background-800: rgb(100, 115, 128);
  --color-background-900: rgb(81, 97, 112);
  --color-background-1000: rgb(64, 78, 92);
  --color-background-1100: rgb(38, 52, 63);
  --color-background-1200: rgb(27, 30, 31);
  --color-gray-100: rgb(251, 251, 251);
  --color-gray-200: rgb(237, 241, 245);
  --color-gray-300: rgb(221, 230, 238);
  --color-gray-400: rgb(201, 215, 227);
  --color-gray-500: rgb(173, 192, 210);
  --color-gray-600: rgb(139, 160, 178);
  --color-gray-700: rgb(116, 136, 153);
  --color-gray-800: rgb(100, 115, 128);
  --color-gray-900: rgb(81, 97, 112);
  --color-gray-1000: rgb(64, 78, 92);
  --color-gray-1100: rgb(38, 52, 63);
  --color-gray-1200: rgb(27, 30, 31);
  --color-blue-100: rgb(247, 250, 252);
  --color-blue-200: rgb(236, 246, 254);
  --color-blue-300: rgb(201, 232, 255);
  --color-blue-400: rgb(143, 215, 255);
  --color-blue-500: rgb(111, 200, 255);
  --color-blue-600: rgb(61, 180, 242);
  --color-blue-700: rgb(8, 143, 214);
  --color-blue-800: rgb(12, 101, 166);
  --color-blue-900: rgb(11, 70, 113);
  --color-blue-1000: rgb(16, 61, 85);
  --color-green-100: rgb(245, 249, 243);
  --color-green-200: rgb(226, 246, 217);
  --color-green-300: rgb(160, 241, 126);
  --color-green-400: rgb(119, 220, 76);
  --color-green-500: rgb(83, 175, 45);
  --color-green-600: rgb(56, 126, 26);
  --color-green-700: rgb(46, 90, 27);
  --color-green-800: rgb(41, 66, 31);
  --color-red-100: rgb(255, 244, 246);
  --color-red-200: rgb(254, 212, 220);
  --color-red-300: rgb(255, 140, 160);
  --color-red-400: rgb(236, 41, 75);
  --color-red-500: rgb(213, 0, 37);
  --color-red-600: rgb(165, 1, 29);
  --color-red-700: rgb(117, 0, 20);
  --color-purple-100: rgb(239, 201, 255);
}
/*# sourceMappingURL=variables.css.map */